Here are the current medications for <%= patientName %> :

<ul>
<% medicines.forEach((medicine) => { %>
	<li><b>Name of Medicine:</b> <%= medicine.name %>
		<br>
		<b>Number of Medicine To Take:</b> <%= medicine.count %>
		<br>
		<b>When to Take Medicine:</b> <%= medicine.timeToTake %>
		<br>
		<b>Common Side Effects:</b> <%= medicine.sideEffect %>
		<br>
		<b>Total Times To Take Medicine Per Day:</b> <%= medicine.timePerDay %>
		<br>
		<b>Reason For Consumption:</b> <%= medicine.reason %>
		<br>
		<b>Color of Medicine:</b> <%= medicine.color %>
		<br>
		<br>
		<a href="/changePill?name=<%= doctorName%>&patient=<%= patientName%>&pill=<%= medicine.name%>">Change Pill Information </a>
		<form action="/deletePill?doctorName=<%= doctorName %>&patientName=<%= patientName%>&pillName=<%= medicine.name%>" method="post">
		<p>
		<input type = "submit" value = "Delete Pill">
		<p>
		</form>
		<br>
	</li>
<% }); %>
</ul>