Which medicine you want to view:
<p>
<a href="/showPatientPill?name=<%= doctorName %>&patientName=<%= patient %>">View <%= patient %> current medicines </a>
<p>
<a href="/showPatientPill2?name=<%= doctorName %>&patientName=<%= patient %>">View <%= patient %> past medicines </a>
<p>
<a href="/viewNote?name=<%= doctorName %>&patientName=<%= patient %>">View <%= patient %>'s Note</a>
<p>
<a href="/addNote?name=<%= doctorName%>&patient=<%= patient%>&patientObject=<%= patientObject%>">Add Note</a>
<p>
